* {
  box-sizing: border-box;
}

body,
p,
a,
h2,
h1 {
  margin: 0;
  padding: 0;
}

#wrapper {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  touch-action: none;
}

#contents {
  width: 100%;
  height: 100%;
}

#camera {
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  touch-action: none;
}

#frame {
  z-index: 110;
  touch-action: manipulation;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition:transform 0.3s ease-in-out;
  -ms-transition:transform 0.3s ease-in-out;
}

#still {
  display: none;
}

#result {
  width: 100%;
  height: 100%;
}

#shadow {
  position: absolute;
  height: 38%;
  width: 100%;
  background-image: url(image/shadow.png);
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

#detail {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffffff;
  margin: 0px 20px;
  padding-top: 20px;
  top: 0;
  padding-bottom: 20px;
  height: 150px;
}

.wrapTitle {
  display: flex;
  align-items: center;
}

.title > img{
  width: 85%;
  color: #ffffff;
}

.wrapTitle > .bannerTop {
  width: 45%;
  margin-left: 15px;
  margin-right: 30px;
}

.detailImg {
  width: 65px;
  height: 65px;
}

#product {
  position: absolute;
  z-index: 15;
  color: #ffffff;
  top: 10%;
  margin: 20px 20px;
}

.name {
  font-size: 35px;
}

.product-overview {
  font-size: 35px;
}

.product-detail {
  display: flex;
  font-size: 25px;
}

.size {
  margin-right: 35px;
}

#detailWatch {
  position: absolute;
  z-index: 15;
  top: 38%;
  left: 27%;
}

.notiWatch {
  width: 400px;
}

#shutter-inner {
  z-index: 10;
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align: center;
}

#btn-shutter {
  z-index: 20;
  background: none;
  border: none;
}

.shutter-detail {
  width: 300px;
}

#frame-inner {
  position: absolute;
  top: 650px;
}

#frame-inner h2 {
  margin-bottom: 3px;
}

#framelist {
  list-style: none;
  padding-left: 0px;
}

#framelist li {
  display: inline;
  cursor: pointer;
  margin-right: 5px;
}

#hand {
  z-index: 5;
  position: absolute;
  top: 45%;
  left: -16%;
}

.bannerTop,
.notiWatch,
.shutter-detail {
  -webkit-animation: twoSecond 5s forwards;
  animation: twoSecond 5s forwards;
}

#hand {
  -webkit-animation: fiveSecond 5s forwards;
  animation: fiveSecond 5s forwards;
}

@keyframes fiveSecond {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fiveSecond {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes twoSecond {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes twoSecond {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*---------------------------------------*/
/* ダイアログ                            */
/*---------------------------------------*/
#dialog-outer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
  width: 100%;
  height: 100%;
  min-height: 1200px;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.dialog {
  display: none;
  border: 5px solid #ebd8b9;
  background-color: #ebd8b9;
  margin: 90px;
  padding: 35px;
  margin-top: 100px;
}

#dialog-result {
  /* height: 90%; */
  position: relative;
}

#wrapImg {
  height: 100%;
  object-fit: cover;
  background-size: cover;
  position: relative;
}

#frameResult {
  position: absolute;
  top: 51%;
  left: 31%;
  transform: rotate(-5deg);
  z-index: 20;
}

#resultImg {
  width: 100%;
  z-index: 20;
  position: absolute;
}

#photo {
  width: 100%;
  background-size: cover;
}

.btnBottom {
  position: absolute;
  height: 9%;
  left: 43%;
  bottom: -3%;
}

#dialog-result-close {
  cursor: pointer;
  position: absolute;
  right: -5%;
  top: -50px;
  width: 80px;
  height: 80px;
  z-index: 30;
}

#dialog-result-dl {
  border: none;
  background: none;
}

#dialog-result-dl > img {
  width: 100px;
  height: 100px;
}

#dialog-nowloading {
  width: 400px;
  height: 120px;
  font-size: 48px;
  text-align: center;
  padding-top: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: lightseagreen;
}

#content-detail {
  height: 100%;
  width: 100%;
  display: inline-grid;
  align-content: baseline;
}

#list-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.item {
  display: flex;
  align-items: center;
  margin: 40px;
}

#fitting {
  border-bottom: 2px solid #000000;
  padding: 30px 0px;
  margin-bottom: 30px;
}

.item-img {
  width: 180px;
  height: 180px;
}

/* Content-detail */
#fitting > h1 {
  text-align: center;
  font-size: 55px;
  font-weight: normal;
  letter-spacing: 7px;
}

.base {
  margin-left: 50px;
}

.base > h2 {
  font-size: 50px;
  font-weight: 500;
}

.base-text {
  margin-top: 40px;
}

.base-text > p {
  font-size: 30px;
}

.phone-number {
}

.home,
.phone {
  width: 100%;
  height: 100%;
  display: flex;
}


/* Modal detail */
#detail-modal {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
  top: 0;
  padding-bottom: 20px;
  margin: 30px 20px;
  border-bottom: 1px solid #FFFFFF;
}

.wrapTitle-modal {
  display: flex;
  align-items: center;
}

.title-modal > img {
  width: 50%;
  font-size: 50px;
  color: #ffffff;
}

.bannerTop-modal {
  width: 50%;
  margin-left: 15px;
}

.detailImg-modal {
  width: 80px;
  height: 80px;
}

#product-modal {
  position: absolute;
  z-index: 15;
  color: #ffffff;
  top: 10%;
  margin: 20px 0px;
  padding: 20px;
}

.name-modal {
  font-size: 35px;
}

.product-overview-modal {
  font-size: 30px;
}

.product-detail-modal {
  display: flex;
  font-size: 25px;
}
.hr-modal {
  position: absolute;
  width: 93%;
  border: 1px solid #FFFFFF;
  margin: 0 20px;
  top: 10%;
  z-index: 20;
}

.size-modal {
  margin-right: 35px;
}

#shadowModal {
  position: absolute;
  height: 50%;
  width: 100%;
  background-image: url(image/shadow.png);
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

@media only screen and (max-device-width: 375px) {
  #product {
    top: 13%;
  }
  
  #detailWatch {
    top: 36%;
  }

  #dialog-result {
    height: 85% !important;
  }
}

@media only screen and (max-device-width: 415px) {
  #dialog-result {
    height: 85% !important;
  }
}