* {
  box-sizing: border-box;
}
body,
p, h2, h1 {
  margin: 0;
}
#wrapper {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

#contents {
  width: 100%;
  height: 100%;
}

#detail {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffffff;
  margin: 0px 20px;
  padding-top: 20px;
  top: 0;
  padding-bottom: 20px;
}
.wrapTitle {
  display: flex;
  align-items: center;
}
.title {
  font-size: 50px;
  color: #ffffff;
}
.bannerTop {
  width: 50%;
  margin-left: 15px;
}
.detailImg {
  width: 80px;
  height: 80px;
}

#product {
  position: absolute;
  z-index: 15;
  color: #ffffff;
  top: 10%;
  margin: 20px 20px;
}

.name {
  font-size: 35px;
}
.product-overview {
  font-size: 50px;
}
.product-detail {
  display: flex;
  font-size: 25px;
}
.size {
  margin-right: 35px;
}

#detailWatch {
  position: absolute;
  z-index: 15;
  top: 37%;
  left: 27%;
}
.notiWatch {
  width: 400px;
}

#shutter-inner {
  z-index: 10;
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align: center;
}

#btn-shutter {
  z-index: 20;
  background: none;
  border: none;
}

.shutter-detail {
  width: 300px;
}

#frame-inner {
  position: absolute;
  top: 650px;
}

#frame-inner h2 {
  margin-bottom: 3px;
}

#framelist {
  list-style: none;
  padding-left: 0px;
}

#framelist li {
  display: inline;
  cursor: pointer;
  margin-right: 5px;
}

#hand {
  z-index: 5;
  position: absolute;
  top: 45%;
  left: -16%;
}

.bannerTop,
.notiWatch,
.shutter-detail {
  -webkit-animation: twoSecond 2s forwards;
  animation: twoSecond 2s forwards;
}
#hand {
  -webkit-animation: fiveSecond 5s forwards;
  animation: fiveSecond 5s forwards;
}
@keyframes fiveSecond {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fiveSecond {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes twoSecond {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes twoSecond {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*---------------------------------------*/
/* ダイアログ                            */
/*---------------------------------------*/
#dialog-outer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
  width: 100%;
  height: 100%;
  min-height: 1200px;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.dialog {
  display: none;
  border: 4px solid #ebd8b9;
  background-color: #ebd8b9;
  margin: 90px;
  padding: 15px;
}

#dialog-result {
  /* height: 90%; */
  position: relative;
}

#wrapImg {
  height: 90%;
  object-fit: cover;
  background-size: cover;
  position: relative;
}

#content-detail {
}

#frameResult {
  position: absolute;
  top: 42%;
  left: 35%;
  transform: skewX(10deg);
  z-index: 20;
}

#resultImg {
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
}

#photo {
  width: 100%;
}

.btnBottom {
  position: absolute;
  height: 9%;
  bottom: 0;
  left: 43%;
}

#dialog-result-close {
  cursor: pointer;
  position: absolute;
  right: -5%;
  top: -50px;
  width: 80px;
  height: 80px;
  z-index: 30;
}

#dialog-result-dl {
  border: none;
  background: none;
}
#dialog-result-dl > img {
  width: 100px;
  height: 100px;
}

#dialog-nowloading {
  width: 400px;
  height: 120px;
  font-size: 48px;
  text-align: center;
  padding-top: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: lightseagreen;
}

#content-detail {
  height: 100%;
  width: 100%;
  display: inline-grid;
  align-content: baseline;
}

#list-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.item {
  display: flex;
  align-items: center;
  margin: 40px;
}

#fitting {
  border-bottom: 2px solid #000000;
  padding: 30px 0px;
  margin-bottom: 30px;
}
.item-img {
  width: 180px;
  height: 180px;
}
/* Content-detail */
#fitting > h1 {
  text-align: center;
  font-size: 55px;
  font-weight: normal;
  letter-spacing: 7px;
}
.base {
  margin-left: 50px;
}

.base > h2 {
  font-size: 50px;
  font-weight: 500;
}

.base-text {
  margin-top: 40px;
}

.base-text > p {
  font-size: 27px;
}
.phone-number  {

}

.home, .phone {
  width: 100%;
  height: 100%;
}